@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap");

body {
  font-family: "Roboto", Helvetica, sans-serif;
  margin: 0;
  background-color: #f0f2f5;
}

.container {
  display: flex;
  flex: 1 0 auto;
  min-height: 0;
}

.sidebar {
  background-color: #073763;
  width: 18%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar .user {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #124588;
  box-sizing: border-box;
}

.sidebar .user img {
  width: 40%;
}

.sidebar .menu-item {
  font-size: 18px;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
  border: 3px solid black;
}

.sidebar .menu-item i {
  padding-right: 20px;
  width: 20px;
}

.sidebar .menu-item:hover {
  background-color: #124588;
  font-weight: bold;
}

.sidebar .selecionado {
  background-color: #124588;
}

.sidebar .selecionado:active,
.sidebar .menu-item:active {
  font-weight: bold;
  background-color: #95bcf2;
  color: black;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  position: relative;
}

nav img {
  width: 200px;
  cursor: pointer;
}

nav i {
  rotate: 90deg;
  transform: scale(130%);
  cursor: pointer;
}

nav .menu-toggle {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.content {
  margin: 30px;
}

.tela1 {
  height: 80%;
  margin-bottom: 50px;
}

.telas h2 {
  background-color: #073763;
  margin: 0;
  color: white;
  padding: 10px;
  font-weight: 400;
  border-bottom: 2px solid black;
}

.telas p {
  margin-left: 15px;
  font-size: 22px;
}

.telas {
  border: 2px solid black;
  background-color: #d9d9d9;
}

.content2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.tela2 {
  flex: 3;
  height: 70%;
}

.tela3 {
  flex: 1;
  margin-left: 10px;
  margin-bottom: 50px;
}

.relatorios-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.solicitarChamado {
  border: 2px solid black;
  display: flex;
  align-self: center;
  font-size: 18px;
  padding: 10px;
  background-color: #009e0f;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  box-sizing: border-box;
}

.solicitarChamado:hover {
  background-color: #4c9f38;
}

.solicitarChamado:active {
  background-color: #00ff49;
  color: black;
  font-weight: bold;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.overlay.active {
  display: block;
}

/* Media Queries para Tablet */
@media (max-width: 1024px) {
  .container {
    flex-direction: row;
  }

  nav img {
    width: 150px;
  }
}

/* Media Queries para Celular */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }

  .container {
    flex-direction: column;
    height: auto;
  }

  .sidebar {
    position: fixed;
    width: 250px;
    left: -250px;
    top: 0;
    height: 100%;
  }

  .sidebar.active {
    left: 0;
  }

  .user img {
    width: 20%;
  }

  .menu-item {
    font-size: 16px;
    padding: 5px;
  }

  nav {
    flex-direction: row;
    justify-content: space-between;
  }

  nav .menu-toggle {
    display: block;
  }

  nav img {
    width: 150px;
  }

  .content {
    margin: 20px 10px;
  }

  .content2 {
    flex-direction: column;
  }

  .tela1,
  .tela2,
  .tela3 {
    margin-bottom: 20px;
    height: auto;
  }
}
