@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", Helvetica, sans-serif;
  margin: 0;
  background-color: #f0f2f5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  min-height: 0;
  max-height: calc(100vh - 80px);
}

.divEsquerda {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.divEsquerda img {
  width: 100%;
}

.divDireita {
  flex: 1;
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.divDireita img {
  width: 100%;
  max-width: 400px;
  display: flex;
  margin-bottom: 110px;
  cursor: pointer;
}

#email {
  margin-bottom: 30px;
}

.form input {
  width: 100%;
  border: 1px solid black;
  font-size: 18px;
  background-color: #d9d9d9;
  padding: 10px 40px 10px 12px;
  border-radius: 3px;
  box-sizing: border-box;
}

input:hover {
  border: 1px solid #0085ff;
  outline: 0;
}

input:focus {
  border: 1px solid #0085ff;
  outline: 0;
}

.form #senha {
  padding: 10px 12px 10px 12px;
}

.form {
  position: relative;
  width: 50%;
}

img.img1 {
  position: absolute;
  top: 100%;
  right: 15px;
  width: 20px;
  transform: translateY(-520%);
}

.span {
  font-size: 20px;
}
span a {
  font-size: 14px;
  color: #0085ff;
  text-decoration: none;
  margin-top: 5px;
}

span a:hover {
  text-decoration: underline;
}

button.botaoLogin {
  border: 2px solid black;
  font-size: 20px;
  margin-top: 30px;
  padding: 8px 80px;
  border-radius: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

button.botaoLogin:hover {
  font-weight: bold;
  background-color: #d9d9d9;
}

button.botaoLogin:active {
  font-weight: 800;
  background-color: #d9d9d9;
  transform: scale(0.9);
}

button.botaoAssociar {
  border: 2px solid black;
  font-size: 20px;
  margin-top: 40px;
  padding: 10px 80px;
  border-radius: 20px;
  background-color: #124588;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  color: white;
}

button.botaoAssociar:hover {
  background-color: #073763;
  color: white;
}

button.botaoAssociar:active,
button.botaoAssociar.active {
  background-color: #95bcf2;
  font-weight: bold;
  color: black;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 30px 0;
  width: 80%;
}
.divider hr {
  flex: 1;
  border: none;
  border-top: 1px solid black;
}
.divider span {
  padding: 0 10px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .divEsquerda {
    display: none;
  }

  .divDireita {
    width: 90%;
    padding: 20px;
  }

  .form {
    width: 100%;
  }

  img.img1 {
    margin-top: 5px;
  }
  .form input {
    font-size: 16px;
    padding: 10px;
  }

  button.botaoLogin,
  button.botaoAssociar {
    padding: 10px;
    font-size: 18px;
  }

  .span {
    font-size: 18px;
  }
}
#errorMessage {
  color: #ff0000;
  margin-top: 30px;
}

@media (min-width: 768px) and (max-width: 1080px) {
  .container {
    flex-direction: column;
  }

  .divEsquerda {
    display: none;
  }

  .divDireita {
    width: 90%;
    padding: 40px;
  }

  .form {
    width: 80%;
  }

  img.img1 {
    top: 80%;
    transform: translateY(-400%);
  }

  .form input {
    font-size: 17px;
    padding: 12px;
  }

  button.botaoLogin,
  button.botaoAssociar {
    padding: 12px;
    font-size: 19px;
  }

  .span {
    font-size: 19px;
  }
}

@media (max-height: 690px) {
  body {
    overflow-y: auto;
    min-height: auto;
  }
  .container {
    min-height: calc(100vh - 80px);
  }
  .divDireita {
    padding: 20px;
  }

  .divDireita img {
    margin-bottom: 50px;
  }

  .form input {
    font-size: 16px;
    padding: 8px;
  }

  .span {
    font-size: 18px;
  }

  img.img1 {
    top: 80%;
    transform: translateY(-385%);
  }
}

@media (max-height: 690px) and (max-width: 768px) {
  img.img1 {
    top: 80%;
    transform: translateY(-400%);
  }
}
